@model EpsmGest.ViewModel.UserViewModel

<div class="p-1 p-md-3 p-lg-4">
    <div class="card">
        <h5 class="card-header" style="background-color:rgb(35, 141, 15);color:white;">FATURA</h5>
        <div class="card-body">
            <dl class="row">
                <dt class="col-sm-2">
                    Nome
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.UserName)
                </dd>
                <dt class="col-sm-2">
                    Email
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Email)
                </dd>
                <dt class="col-sm-2">
                    Cargo
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Role)
                </dd>
            </dl>
            <div class="mt-2">
                <a asp-controller="Utilizadores" asp-action="Index" class="btn btn-secondary"><i class="fas fa-arrow-left"></i> Voltar</a>
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#editModel"><i class="fas fa-user-cog"></i> Alterar Cargo</button>
                <a asp-controller="Utilizadores" asp-action="AlterarPassword" asp-route-id="@Model.Id" class="btn btn-primary"><i class="fas fa-user-lock"></i> Alterar Password</a>
                <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteModel"><i class="fas fa-user-slash"></i> Remover</button>
            </div>
        </div>
    </div>
</div>

<!-- Delete  Modal -->
<div class="modal fade" id="deleteModel" tabindex="-1" aria-labelledby="deleteModelLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Remover Utilizador</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Quer mesmo remover o utilizador @Model.UserName do sistema ?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                <a asp-controller="Utilizadores" asp-action="RemoveUser" asp-route-id="@Model.Id" class="btn btn-danger">Apagar</a>
            </div>
        </div>
    </div>
</div>

<!-- Edit  Modal -->
<div class="modal fade" id="editModel" tabindex="-1" aria-labelledby="editModelLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content">
            <form asp-controller="Utilizadores" asp-action="AlterarCargo">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Editar Fatura</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <input asp-for="Id" hidden="hidden" />
                    <div class="form-group">
                        <label asp-for="Role" class="control-label">Valor Total</label>
                        @Html.DropDownListFor(x => x.Role, new SelectList(ViewBag.Roles, "Name", "Name"), "-- Selecione Cargo --", new { @class="form-control", @required="required"})
                        <span asp-validation-for="Role" class="text-danger"></span>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                    <button type="submit" class="btn btn-primary">Editar</button>
                </div>
            </form>
        </div>
    </div>
</div>
@section Scripts {
    @{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}