@model EpsmGest.ViewModel.Requisition.CreateRequisitionViewModel

@{
    ViewData["Title"] = "Create";
}
<div class="p-1 p-md-3 p-lg-4">
    <div class="card">
        <h5 class="card-header" style="background-color:rgb(35, 141, 15);color:white;">INSERIR REQUISIÇÃO</h5>
        <div class="card-body">
            <form asp-action="Create">
                <div class="container-md">
                    <div class="col-md-5">
                        <div class="form-group">
                            <label asp-for="Requisition.DepartamentId" class="control-label">Departamento:</label><br />
                            @Html.DropDownListFor(x => x.Requisition.DepartamentId, new SelectList(ViewBag.Departamentos, "DepartamentoId", "Nome"), "-- Selecione Departamento --", new { @class="form-control"})
                            <span asp-validation-for="Requisition.DepartamentId" class="text-danger"></span>
                        </div>
                    </div>
                    <input asp-for="Requisition.Applicant" value="@User.Identity.Name" hidden />
                    <div class="col-md-5 mt-2">
                        <div class="form-group">
                            <label class="control-label">Requerente:</label>
                            <input type="text" value="@User.Identity.Name" class="form-control" id="RequerenteInput" readonly />
                        </div>
                    </div>                    
                    <div class="col-md-5 mt-2">
                        <div class="form-group">
                            <label asp-for="Requisition.Description" class="control-label">Descrição:</label>
                            <input asp-for="Requisition.Description" class="form-control" />
                            <span asp-validation-for="Requisition.Description" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-5 mt-2">
                        <div class="form-group">
                            <label asp-for="Requisition.Date" class="control-label">Data:</label>
                            <input asp-for="Requisition.Date" type="date" class="form-control" value="@DateTime.Now.ToString("yyyy-MM-dd")" />
                            <span asp-validation-for="Requisition.Date" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-5 my-2">
                        <table id="ItemsTable" class="table table-bordered">
                            <tr>
                                <th>Quant.</th>
                                <th>Item</th>
                                <th><button class="btn-sm btn-success" type="button" onclick="addRow()"><i class="fas fa-plus"></i></button></th>
                            </tr>
                            <tr>
                                <td><input type="number" class="form-control" name="PurchaseItem[0].Quantity" style="max-width:90px;" value="1" min="1"/></td>
                                <td><input type="text" class="form-control" name="PurchaseItem[0].Item"/></td>
                                <td><button class="btn-sm btn-danger" type="button" onclick="removeRow(this)"><i class="fas fa-trash-alt"></i></button></td>
                            </tr>
                        </table>
                    </div>
                    <div class="mt-2" style="text-align:right;">
                        <a asp-action="Index" class="btn btn-primary"><i class="fas fa-arrow-left"></i> Voltar</a>
                        <button type="submit" id="buttons" class="btn btn-success ml-2"><i class="fas fa-plus"></i> Criar</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        $('#RequerenteCheck').change(function(){
            if ($('#RequerenteCheck').is(':checked') == true){
                $('#RequerenteInput').val('@User.Identity.Name').prop('readonly', true);
                console.log('checked');
            } else {
                $('#RequerenteInput').val('').prop('readonly', false);
                console.log('unchecked');
            }
        });
    </script>
    <script>
        var counter = 1;
        function addRow() {
            var table = document.getElementById("ItemsTable");
            var row = table.insertRow(-1);
            var cell1 = row.insertCell(0);
            var cell2 = row.insertCell(1);
            var cell3 = row.insertCell(2);
            cell1.innerHTML = '<input type="number" class="form-control" name="PurchaseItem['+ counter+'].Quantity" style="max-width:90px;" value="1"/>';
            cell2.innerHTML = '<input type="text" class="form-control" name="PurchaseItem['+ counter+'].Item"/>';
            cell3.innerHTML = '<button class="btn-sm btn-danger" type="button" onclick="removeRow(this)"><i class="fas fa-trash-alt"></i></button>';
            counter++;
            console.log(counter);
        }
        function removeRow(btn){
            var row = btn.parentNode.parentNode;
            row.parentNode.removeChild(row);
        }
    </script>
    @{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
}
}