@model EPSMGest.Models.FaturasModel

@{
    ViewData["Title"] = "Detalhes";
}

<div class="p-1 p-md-3 p-lg-4">
    <div class="card">
        <h5 class="card-header" style="background-color:rgb(35, 141, 15);color:white;">FATURA</h5>
        <div class="card-body">
            <dl class="row">
                <dt class="col-sm-2">
                    Nº Fatura
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.NrFatura)
                </dd>
                <dt class="col-sm-2">
                    Valor Total
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.ValorTotal)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Data)
                </dt>
                <dd class="col-sm-10">
                    @Model.Data.ToString("dd/MM/yyyy")
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Fornecedor)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Fornecedor)
                </dd>
                <dt class="col-sm-2">
                    Compra
                </dt>
                @if (Model.IdCompra != null)
                {
                    <dd class="col-sm-10">
                        <a asp-controller="Compras" asp-action="Detalhes" asp-route-id="@Model.IdCompra" target="_blank">Detalhes</a>
                    </dd>
                }
                else
                {
                    <dd class="col-sm-10"></dd>
                }
                <dt class="col-sm-2">
                    Observações
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Observacoes)
                </dd>
            </dl>
            <div class="mt-2">
                <a asp-action="Index" class="btn btn-secondary"><i class="fas fa-arrow-left"></i> Voltar</a>
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#editModel"><i class="fas fa-edit"></i> Editar</button>
                <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteModel"><i class="fas fa-trash-alt"></i> Apagar</button>
            </div>
        </div>
    </div>
</div>



<!-- Delete  Modal -->
<div class="modal fade" id="deleteModel" tabindex="-1" aria-labelledby="deleteModelLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Apagar Fatura</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Quer mesmo apagar esta fatura?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                <a asp-action="Apagar" asp-route-id="@Model.FaturasId" class="btn btn-danger">Apagar</a>
            </div>
        </div>
    </div>
</div>

<!-- Edit  Modal -->
<div class="modal fade" id="editModel" tabindex="-1" aria-labelledby="editModelLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content">
            <form asp-action="Editar">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Editar Fatura</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <input type="hidden" asp-for="FaturasId" />
                    <div class="form-group">
                        <label asp-for="NrFatura" class="control-label">Nº Fatura</label>
                        <input asp-for="NrFatura" class="form-control" required="required" />
                        <span asp-validation-for="NrFatura" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="ValorTotal" class="control-label">Valor Total</label>
                        <input asp-for="ValorTotal" class="form-control" required="required" />
                        <span asp-validation-for="ValorTotal" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Data" class="control-label"></label>
                        <input asp-for="Data" type="date" class="form-control" required="required" />
                        <span asp-validation-for="Data" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Fornecedor" class="control-label"></label>
                        @Html.DropDownListFor(x => x.Fornecedor, new SelectList(ViewBag.Fornecedor, "Id", "Name"), "-- Selecione Fornecedor --", new { @class="form-control", @required="required"})
                        <span asp-validation-for="Fornecedor" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="IdCompra" class="control-label">Compra</label>
                        @Html.DropDownListFor(x => x.IdCompra, new SelectList(ViewBag.Compras, "Id", "Name"), "-- Selecione Compra --", new { @class="form-control", @required="required"})
                        <span asp-validation-for="IdCompra" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Observacoes" class="control-label">Observações</label>
                        <input asp-for="Observacoes" class="form-control" />
                        <span asp-validation-for="Observacoes" class="text-danger"></span>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                    <button type="submit" class="btn btn-primary">Editar</button>
                </div>
            </form>
        </div>
    </div>
</div>
@section Scripts {
    @{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}