@model EPSMGest.Models.RequisicoesModel

@{
    ViewData["Title"] = "Details";
}

<div class="p-1 p-md-3 p-lg-4">
    <div class="card">
        <h5 class="card-header" style="background-color:rgb(35, 141, 15);color:white;">REQUISIÇÕES</h5>
        <div class="card-body">
            <dl class="row">
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.DepartamentoId)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.DepartamentoId)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Requerente)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Requerente)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Descricao)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Descricao)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.date)
                </dt>
                <dd class="col-sm-10">
                    @Model.date.ToString("dd/MM/yyyy")
                </dd>
            </dl>
            <div class="mt-2">
                <a asp-action="Index" class="btn btn-secondary"><i class="fas fa-arrow-left"></i> Voltar</a>
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#editModel"><i class="fas fa-edit"></i> Editar</button>
                <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteModel"><i class="fas fa-trash-alt"></i> Apagar</button>
            </div>
        </div>
    </div>
</div>



<!-- Delete  Modal -->
<div class="modal fade" id="deleteModel" tabindex="-1" aria-labelledby="deleteModelLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Apagar Requesição</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Quer mesmo apagar esta requesição @Html.DisplayFor(model => model.RequisicaoId) ?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                <a asp-action="Apagar" asp-route-id="@Model.RequisicaoId" class="btn btn-danger">Apagar</a>
            </div>
        </div>
    </div>
</div>

<!-- Edit  Modal -->
<div class="modal fade" id="editModel" tabindex="-1" aria-labelledby="editModelLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content">
            <form asp-action="Editar">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Editar Requesição</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <input type="hidden" asp-for="RequisicaoId" />
                    <input type="hidden" asp-for="Requerente" />
                    <div class="form-group">
                        <label asp-for="DepartamentoId" class="control-label"></label>
                        @Html.DropDownListFor(x => x.DepartamentoId, new SelectList(ViewBag.Departamentos, "DepartamentoId", "Nome"), "-- Selecione Departamento --", new { @class="form-control"})
                        <span asp-validation-for="DepartamentoId" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Descricao" class="control-label"></label>
                        <input asp-for="Descricao" class="form-control" />
                        <span asp-validation-for="Descricao" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="date" class="control-label"></label>
                        <input asp-for="date" type="date" class="form-control"/>
                        <span asp-validation-for="date" class="text-danger"></span>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                    <button type="submit" class="btn btn-primary">Editar</button>
                </div>
            </form>
        </div>
    </div>
</div>
@section Scripts {
    @{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
}
}