@model EPSMGest.Models.FornecedorModel

@{
    ViewData["Title"] = "Details";
}

<div class="p-1 p-md-3 p-lg-4">
    <div class="card">
        <h5 class="card-header" style="background-color:rgb(35, 141, 15);color:white;">FORNECEDOR</h5>
        <div class="card-body">
            <dl class="row">
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Nome)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Nome)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Morada)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Morada)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.NIF)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.NIF)
                </dd>
            </dl>
            <div class="mt-2">
                <a asp-action="Index" class="btn btn-secondary"><i class="fas fa-arrow-left"></i> Voltar</a>
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#editModel"><i class="fas fa-edit"></i> Editar</button>
                <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteModel"><i class="fas fa-trash-alt"></i> Apagar</button>
            </div>
        </div>
    </div>
</div>



<!-- Delete  Modal -->
<div class="modal fade" id="deleteModel" tabindex="-1" aria-labelledby="deleteModelLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Apagar Requesição</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Quer mesmo apagar o fornecedor @Html.DisplayFor(model => model.Nome) ?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                <a asp-action="Apagar" asp-route-id="@Model.FornecedorId" class="btn btn-danger">Apagar</a>
            </div>
        </div>
    </div>
</div>

<!-- Edit  Modal -->
<div class="modal fade" id="editModel" tabindex="-1" aria-labelledby="editModelLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content">
            <form asp-action="Editar">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Editar Requesição</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <input type="hidden" asp-for="FornecedorId" />
                    <div class="form-group">
                        <label asp-for="Nome" class="control-label"></label>
                        <input asp-for="Nome" class="form-control" required="required"/>
                        <span asp-validation-for="Nome" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Morada" class="control-label"></label>
                        <input asp-for="Morada" class="form-control" />
                        <span asp-validation-for="Morada" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="NIF" class="control-label"></label>
                        <input asp-for="NIF" pattern=".{9,9}" class="form-control" required="required"/>
                        <span asp-validation-for="NIF" class="text-danger"></span>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                    <button type="submit" class="btn btn-primary">Editar</button>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
}
}
