@model IEnumerable<EPSMGest.Models.ComprasModel>

@{
    ViewData["Title"] = "Index";
}

<div class="p-1 p-md-3 p-lg-4">
    <div class="card">
        <h5 class="card-header" style="background-color:rgb(35, 141, 15);color:white;">COMPRAS</h5>
        <div class="card-body">
            <table id="ContentTable" class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th>
                            ID
                        </th>
                        <th>
                            Requesição
                        </th>
                        <th>
                            Item
                        </th>
                        <th>
                            Aprovações
                        </th>
                        <th>
                            Estado
                        </th>
                        <th>
                            Observações
                        </th>
                        <th>
                            Data
                        </th>
                        <th><a asp-action="Create" class="btn btn-sm btn-primary"><i class="fas fa-plus"></i> Nova</a></th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model != null)
                    {
                        @if (Model.Count() != 0)
                        {
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.IdCompra)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.IdRequisicao)
                                    </td>

                                    <td>
                                        @Html.DisplayFor(modelItem => item.Item)
                                    </td>
                                    <td>
                                        @if (item.Aprovacao1 == true && item.Aprovacao2 == true)
                                        {
                                            <text>1,2</text>
                                        }
                                        else if (item.Aprovacao1 == true)
                                        {
                                            <text>1</text>
                                        }
                                        else if (item.Aprovacao2 == true)
                                        {
                                            <text>2</text>
                                        }
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Pagamento)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Observacoes)
                                    </td>
                                    <td>
                                        @item.Date.ToString("dd/MM/yyyy")
                                    </td>
                                    <td>
                                        <a asp-action="Detalhes" asp-route-id="@item.Id" class="btn btn-primary"><i class="fas fa-clipboard-list"></i></a>
                                    </td>
                                </tr>
                            }
                        }
                        else
                        {
                            <tr><td colspan="8" class="text-center">Vazio</td></tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
<partial name="../Shared/_DataTable" />