@model IEnumerable<EPSMGest.Models.PurchaseModel>

@{
    ViewData["Title"] = "Index";
}

<div class="p-1 p-md-3 p-lg-4">
    <div class="card">
        <h5 class="card-header" style="background-color:rgb(35, 141, 15);color:white;">COMPRAS</h5>
        <div class="card-body">
            <table id="ContentTable" class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th>
                            ID
                        </th>
                        <th>
                            Requesição
                        </th>
                        <th>
                            Aprovações
                        </th>
                        <th>
                            Descrição
                        </th>
                        <th>
                            Data
                        </th>
                        <th><a asp-action="Create" class="btn btn-sm btn-primary"><i class="fas fa-plus"></i> Nova</a></th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model != null)
                    {
                        @if (Model.Count() != 0)
                        {
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.PurchaseId)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.RequisitionId)
                                    </td>
                                    <td>
                                        
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Description)
                                    </td>
                                    <td>
                                        @item.Date.ToString("dd/MM/yyyy")
                                    </td>
                                    <td>
                                        <a asp-action="Necessidade" asp-route-id="@item.Id" class="btn btn-primary"><i class="fas fa-clipboard-list"></i> Detalhes</a>
                                    </td>
                                </tr>
                            }
                        }
                        else
                        {
                            <tr><td colspan="8" class="text-center">Vazio</td></tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
<partial name="../Shared/_DataTable" />